#recipeForm {
	margin: 2rem;
}

.formInput {
	margin-top: 1rem;
}

#difficulty {
	background-color: white;
}

#addMoreButton {
	margin-top: 1rem;
}

#submitButton {
	margin-top: 1rem;
	width: 100%;
}
