body {
	display: flex;
	flex-direction: column;
}

header {
	min-height: 10vh;
}

main {
	min-height: 80vh;
}

footer {
	background-color: #8f8a8a;
	color: white;
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
}

.recipesList {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
}

.recipeCard {
	margin: 1rem;
}

img {
	height: 200px;
	object-fit: cover;
}
