.container {
	width: 100vw;
	background-color: antiquewhite;
}

header {
	height: 100px;
	background-color: darksalmon;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
}

main {
	padding: 0.5rem;
}

nav ul li {
	display: inline-block;
	margin: 0 1rem;
}

footer {
	min-height: 150px;
	background-color: burlywood;
	display: flex;
	justify-content: center;
	align-items: center;
}
